@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    width: 100%;
    line-height: 1;
  }
}

.header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.tr {
  position: absolute;
  height: 18px;
  left: 851px;
  top: 35px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
}
.darkmode {
  display: flex;
  align-items: center;
  gap: 9px;
  position: absolute;
  left: 1030px;
  top: 33px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: #4731d3;
}

.toggle:checked {
  background-color: #FFE86E;
  box-shadow: var(--handleoffsetcalculator) 0 0 2px #8F88FF inset, 0 0 0 2px #8F88FF inset, var(--togglehandleborder);
  ;
}
.toggle{
  box-shadow: var(--handleoffsetcalculator) 0 0 2px #3A3A3A inset, 0 0 0 2px #3A3A3A inset, var(--togglehandleborder);
  border-color: #3A3A3A;
	background: var(#3A3A3A);
	box-shadow: inset 7px 0px 0px 0px yellow;
}

@media only screen and (max-width: 1440px ) {
  .tr {
  position: static;
  height: auto;
  left: auto;
  top: auto;
  }
  .darkmode {
  position: absolute;
  left: 85px;
  transform: translateX(-50%);
  top: 15px;
  color: #CAF181;
  margin-top: 20px;
  }
  
  }
  @media only screen and (max-width: 1024px) {

    .skills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    .skills-items{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    }
    